# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy PHP app to Azure Web App - colpensiones

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, bcmath, pdo_mysql, tokenizer, xml, ctype, fileinfo
          coverage: none
          
      - name: Prepare Laravel Cache
        run: |
          mkdir -p bootstrap/cache
          chmod -R 777 bootstrap/cache
          
      - name: Validate composer.json
        run: composer validate --no-check-publish
      
      - name: Clear Composer Cache
        run: composer clear-cache
      
      - name: Install Dependencies
        run: composer install --no-dev --optimize-autoloader --prefer-dist --no-progress

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: php-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: php-app
      
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'colpensiones'
          slot-name: 'Production'
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_D1C0379C0C864B88BC9433D26DCD75B1 }}



